html{
  background: url('/resources/img/bg-large-process-comp.jpg') no-repeat center center fixed;
  -webkit-backround-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
