@import "mixins";
@import "variables";
@import "layout";


html {
  color: white;
  font-family: 'Quicksand', sans-serif;
  background: url('/resources/img/bg-large-process-comp.jpg') no-repeat center center fixed;
  -webkit-backround-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;

  body.front-page {
    @include fadeOutBackground();
    overflow-x: hidden;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    vertical-align: top;
    &:visited {
      color: white;
    }
  }
  .no-select {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  #logo {
    img {
      max-width: 150px;
      position: fixed;
      bottom: 1em;
      right: 2em;
      @media screen and (max-width: $phone-landscape-width) {
        display: none;
      }
    }
  }
}

// ======= Navbar ======
nav#navigation-bar {
  display: block;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,.6);
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.2);

  @media screen and (max-width: $phone-landscape-width) {
    width: 100%;
    position: static;
  }
  ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    &.navbar-expanded {
      display: inline-block;
      @media screen and (max-width: $phone-landscape-width) {
        display:none;
      }
    }
    &.navbar-collapsed {
      display: none;
      li {
        padding: .5em 0;
        width: 33%;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        img.fa-icon {
          max-width: 30px;
        }
        &.active {
          background-color: #7A1EA1;
        }
      }
      @media screen and (max-width: $phone-landscape-width) {
        display:inline-block;
      }
    }
    li {
      display: inline-block;
      padding: .5em 1.9em;
      cursor: pointer;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      &:hover {
        background-color: #b876d4;
      }
      &.active {
        background-color: #7A1EA1;
      }
    }
    img.fa-icon {
      max-width: 18px;
      margin-right: 5px;
    }
  }
}

// ======= Next activity =======

#clock {
  p {
    margin-left: 1em;
  }
  .clock-item {
    display: inline-block;
    margin: 0 1em 1em 1em;
    text-align: center;
    .clock-time {
      font-size: 4em;
      height: 1.2em;
    }
    .clock-item-label {
      font-size: 1.5em;
    }
  }
}
#spotlight-card-headline {
  margin: 0;
}
#spotlight-card {
  margin-top: 1em;
}
// ======= Cards =======
.mo-card-date-container {
  @media screen and (max-width: $phone-landscape-width) {
    width: 100%;
    display: inline-block;
    padding: 0 1em;
    box-sizing: border-box;
  }
}
.mo-card {
  @include forceHardwareAcceleration();

  width: 300px;
  height: 350px;
  color: white;
  position: relative;
  background-color: #7A1EA1; /*Falback color if javascript fails*/
  display: block;
  float: left;
  margin: 16px auto 0 auto;
  word-wrap: break-word;

  @media screen and (max-width: $phone-landscape-width) {
    height: 130px;
    width: 100%;
    display: block;
    float: none;
    margin: auto;
    h1 {
      padding: 10px 5px 0 5px;
    }
    img.featured-image {
      display: none;
    }
  }

  &.mo-card-activity {
    cursor: pointer;
    z-index: 2;
    margin: 1em;
    /*Material box shadows*/
    -webkit-box-shadow: 3px 3px 10px 0px rgba(26,26,26,.75);
    -moz-box-shadow: 3px 3px 10px 0px rgba(26,26,26,.75);
    box-shadow: 3px 3px 10px 0px rgba(26,26,26,.75);

    /*Animate height*/
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    transition: height 0.5s;
    @media screen and (max-width: $tablet-landscape-width) {
      margin: 10px;
      &:first-child {
        margin: 2em 1em;
      }
    }
    @media screen and (max-width: $phone-landscape-width) {
      //Because the animations appear somewhat smoother on phone if
      //We're animating over longer time
      /*-webkit-transition: height .8s;
      -moz-transition: height .8s;
      transition: height 0.8s;*/
      margin: auto;
    }
  }

  &.mo-card-spotlight {
    width: 350px;
    height: 500px;

    div.description {
      display: block;
      margin-left: 10px;
    }
    img.directions {
      display: block;
      position: absolute;
      cursor: pointer;
      z-index: 10;
      bottom: 0;
      right: 10px;
      max-width: 40px;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    &.directions {
      display: none;
    }
  }
  img.fa-icon {
    max-width: 14px;
    margin-right: 5px;
  }
  h1, h2, h3, h4, h5 {
    margin: 10px 5px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    display: inline-block;
    margin: 0 10px;
  }
  .location {
    > img {
      margin-right: 2px;
      max-width: 20px;
      position: relative;
      top: 2px;
    }
  }
  div.description {
    display: none;
  }
}

.mo-card-expanded {
  height: 500px;
  @media screen and (max-width: $phone-landscape-width) {
    height: 230px;
  }
  @media screen and (max-width: $phone-portrait-width) {
    height: 280px;
  }

  div.description {
    padding: 10px;
    font-size: 10pt;
    @include animateCardExpand();
  }
  img.directions {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    max-width: 30px;
    cursor: pointer;
    @include animateCardExpand();
  }

  @-webkit-keyframes fadeInFromNone {
    0% { opacity: 0 }
    1% { opacity: 0 }
    100% { opacity: 1 }
  }
  @keyframes fadeInFromNoneIE {
    0% { opacity: 0 }
    1% { opacity: 0 }
    100% { opacity: 1 }
  }
  @keyframes fadeInFromNone {
    0% { opacity: 0 }
    1% { opacity: 0 }
    100% { opacity: 1 }
  }
}


// ======= Cards =======


img.test{
  //width: 20%;
  height: auto;
  opacity: 100%

}

// ========== Contact ===========
body.contact-info{
  width: 100%;
  h1{
    font-size: 1.5em;
    padding: 10px 0 0 0;
  }
  h2 {
    font-size: 1.25em;
    padding: 0 0 10px 0;
  }

  .contact-info {
    display: inline-block;
    text-align: left;
    margin: 10px;
    @media screen and (max-width: $phone-landscape-width) {
      &:first-child {
        margin-top: 1em;
      }
    }
    @media screen and (max-width: 460px) {
      .general-or-leader {
        display: none;
      }
      .profile-picture-wrapper{
        img.profile-pic {
          height: 70px;
          width: 70px;
        }
      }
      h1 {
        margin-bottom: 10px;
        padding-top: 0;
      }
      p {
        margin-bottom: 10px;
      }
    }
    .fa-icon {
      max-width: 15px;
      margin-right: 5px;
    }
    .profile-picture-wrapper{
      position: relative;
      padding: 16px;

      .profile-pic {
        background: url('') no-repeat center center;
      	width: 150px;
      	height: 150px;
        position: absolute;
        top: 22px;
        right: 22px;
        -webkit-backround-size:cover;
        -moz-background-size:cover;
        -o-background-size: cover;
        background-size: cover;
      	border-radius: 150px;
      	-webkit-border-radius: 150px;
      	-moz-border-radius: 150px;
        background-size: 150px 150px;
        float: right;
  	   }
     }
  }
  #red-groupleader{
    background-color: red;
  }
  #blue-groupleader{
    background-color: blue;
  }
  #general-2{
    background-color: green;
  }
  #yellow-groupleader{
    background-color: #FFC707;
  }


}
